.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.card__title{
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.2s ease-in;
}

.card__like-button:hover {
  opacity: 50%;
}
