.footer {
    display: flex;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 67px;
    padding-bottom: 60px;
    max-width: 880px;
    width: 100%;
  }
  
  .footer__copyright {    
    text-align: left;
    align-items: flex-start;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #545454;
    line-height: 1.2;
    max-width: 880px;
    margin: 0 auto 0 0;
  }

  @media screen and (min-width: 320px) and (max-width: 918px) {
    .footer {
      padding-top: 48px;
      padding-bottom: 36px;
      padding-left: 10%;
    }
  
    .footer__copyright {
      font-size: 1em;
      line-height: 1.1;
    }
  }