.header {
    padding-top: 45px;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
  }
  
.header__image{
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

 @media screen and (min-width: 320px) and (max-width: 918px) {
    .header {
      margin-top: 0;
      padding-top: 0;
    }

    .header__image{
      width: 126px;
      height: 24px;
      padding-left: 27px;
      padding-top: 28px;
      padding-bottom: 32px;
    }

}